nav {
    height: 100vh;
    background: #8BC34A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
}

.logo a img {
    transition: all .4s;
    border-radius: 50%;
    transform: translateY(-2em);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}


.logo a img:hover {
    transition: all .4s;
    transform:scale(1.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.25);
}


ul {
    list-style: none;
}

ul li {
    padding: .5em;
    font-size: 150%;
}

ul.menu li p, ul.social-media li a i {
    color: white;
    transition: all .4s;
}


ul.social-media {
    display: inline-flex;
}

ul.social-media li a i:hover {
    color: rgb(27, 134, 72);
    transition: all .4s;
    transform:scale(1.2);
}


ul.social-media li i {
    color: white;
}

ul.social-media {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3%;
}


/* DEVELOPMENT ICONS FLOATING */

._float_icons {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
}

._icon {
    width: 5%;
    position: absolute;
}

._mouse {
    left: 60%;
    top: 50%;
    transform: rotate(25deg);
}

._coding {
    width: 10%;
    left: 22%;
    top: 48%;
}

._gamepad {
    top: 25%;
    width: 7%;
    left: 40%;
    transform: rotate(-31deg);
}

._icon._pen {
    left: 75%;
    top: 25%;
    width: 9%;
    transform: rotate(-55deg);
}


._smartphone {
    left: 32%;
    top: 40%;
    transform: rotate(15deg);
}